@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Salsa');

body, h1, ul, li p{
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}
/* Cabeçalho */
.topo {
  background-image: url(../img/principal.jpg);
  background-size: cover;
 	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
	color: #262323;
	height:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 	align-items: center;
  text-align: center;
}

.topo h1 {
  font-size: 4em;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Salsa', cursive;
  color: #000;
  margin: 3px;
}

.topo h2{
  font-style: italic;
  margin-top: 0px;

}

/* Menu*/
.menu-principal {
    background-color: #395662;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

.menu-principal li {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  transition: all 1s;
}

.menu-principal li:hover, .menu-principal li:active {
  background-color: #9EA7AE;
  cursor: pointer;
}

.menu-principal li a{
  color: #fff;
  text-decoration: none;
}

@media all and (min-width: 700px) {
  .menu-principal {
    flex-direction: row;
    justify-content: space-between;
  }

  @media all and (min-width: 1024px) {
    .menu-principal{
      justify-content: flex-end;
    }
  }

  .menu-principal li {
    border-bottom: 1px solid rgba(57, 86, 98, 0.1);
  }
}

/* Corpo */
.artigos {
  display: grid;
  grid-template-columns: 1fr;
  background: rgba(138,141,143,1);
  background: -webkit-linear-gradient(left, rgba(138,141,143,1) 0%, rgba(138,141,143,1) 3%, rgba(138,141,143,1) 19%, rgba(169,170,171,1) 52%, rgba(190,190,190,1) 74%, rgba(138,141,143,1) 100%);
  background: -o-linear-gradient(left, rgba(138,141,143,1) 0%, rgba(138,141,143,1) 3%, rgba(138,141,143,1) 19%, rgba(169,170,171,1) 52%, rgba(190,190,190,1) 74%, rgba(138,141,143,1) 100%);
  background: linear-gradient(to right, rgba(138,141,143,1) 0%, rgba(138,141,143,1) 3%, rgba(138,141,143,1) 19%, rgba(169,170,171,1) 52%, rgba(190,190,190,1) 74%, rgba(138,141,143,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8d8f', endColorstr='#8a8d8f', GradientType=1 );
}

@media all and (min-width: 700px){
  .artigos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
}


.principal .box {
  background-color: rgba(57, 86, 98, .7);
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

@media all and (min-width: 1024px){
  .principal .box {
    padding: 10px 30px;
  }
}

.principal .box p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #898E90;
}

.box .fa {
  height: 100px;
  width: 100px;
  background-color: #bebebe;
  font-size: 3em;
  border-radius: 50%;
  color: rgba(71, 85, 95, 0.9);
}

.box .icon .fa{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box p.btn-read-more {
  border: 2px solid #bebebe;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  background-color: rgba(70, 86, 93, .6);
  border-radius: 5px;
  transition: all .3s
}

.box .btn-read-more:hover, .btn-read-more:active{
  cursor: pointer;
  background-color: #395662;
}

/*Gaussian*/

.gaussian {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 0px 10px;
  background-color: #395662;
  margin: 15px 10px;
  padding: 10px;
}
@media all and (min-width: 1024px) {
  .gaussian {
    grid-template-columns: 30% 70%;
  }
}

.gaussian img {
  width: 100%;
  max-height: 400px;
}

@media all and (min-width: 700px) {
  .gaussian img {
    width: 60%;
    margin: auto;
  }
}

@media all and (min-width: 1024px){
  .gaussian img {
    width: 100%;
  }
}

.texto-gaussian p {
  font-size: 1.4em;
  text-align: justify;
  margin-left: 10px;
}

@media all and (min-width: 1024px) {
  .texto-gaussian p{
  }
}

/* Rodapé*/
footer {
  display: grid;
  background-color: #395662;
  justify-content: center;
  text-align: center;
}

footer p{
  text-align: center;
}

footer .social {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .social .fa {
  margin: 15px;
  border: 3px solid #898e90;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  transition: all .6s;
}

.social .fa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social i:active, .social i:hover{
  cursor: pointer;
  background-color: rgba(155, 167, 172, .7);
}

@media all and (min-width: 700px) {
  footer .social {
    flex-direction: row;
    justify-content: space-between;
  }
}

  /* Formulário */
  .formulario{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    background: rgba(138,141,143,1);
    background: -webkit-linear-gradient(left, rgba(138,141,143,1) 0%, rgba(138,141,143,1) 3%, rgba(138,141,143,1) 19%, rgba(169,170,171,1) 52%, rgba(190,190,190,1) 74%, rgba(138,141,143,1) 100%);
    background: -o-linear-gradient(left, rgba(138,141,143,1) 0%, rgba(138,141,143,1) 3%, rgba(138,141,143,1) 19%, rgba(169,170,171,1) 52%, rgba(190,190,190,1) 74%, rgba(138,141,143,1) 100%);
    background: linear-gradient(to right, rgba(138,141,143,1) 0%, rgba(138,141,143,1) 3%, rgba(138,141,143,1) 19%, rgba(169,170,171,1) 52%, rgba(190,190,190,1) 74%, rgba(138,141,143,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8d8f', endColorstr='#8a8d8f', GradientType=1 );
    padding: 10px 0px;
    text-align: center;
  }

  @media all and (min-width: 700px) {
    .formulario{
      grid-template-columns: 70%;
    }
  }

  @media all and (min-width: 1024px) {
    .formulario{
      grid-template-columns: 60%;
    }
  }

  .formulario fieldset{
    margin: 0;
    padding: 0;
  }

  .formulario .contact-us{
    background-color: #395662;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
  }

  input{
    padding: 10px 0px;
    font-size: 18px;
  }

  textarea{
    padding: 20px 0px;
    font-size: 20px;
    height: 200px;
  }

  input[type="submit"]{
    background-color: rgba(70, 86, 93, .6);
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: 800;
    width: 100px;
    border-radius: 5%;
    align-self: center;
    margin: 10px;
  }

  input[type="submit"]:active, input[type="submit"]:hover{
    cursor: pointer;
    background-color:#395662;
  }
