body, ul, li {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: rgba(138,141,143,1);
  background: -moz-linear-gradient(left, rgba(138,141,143,1) 0%, rgba(138,141,143,1) 3%, rgba(138,141,143,1) 19%, rgba(169,170,171,1) 52%, rgba(190,190,190,1) 74%, rgba(138,141,143,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(138,141,143,1)), color-stop(3%, rgba(138,141,143,1)), color-stop(19%, rgba(138,141,143,1)), color-stop(52%, rgba(169,170,171,1)), color-stop(74%, rgba(190,190,190,1)), color-stop(100%, rgba(138,141,143,1)));
  background: -webkit-linear-gradient(left, rgba(138,141,143,1) 0%, rgba(138,141,143,1) 3%, rgba(138,141,143,1) 19%, rgba(169,170,171,1) 52%, rgba(190,190,190,1) 74%, rgba(138,141,143,1) 100%);
  background: -o-linear-gradient(left, rgba(138,141,143,1) 0%, rgba(138,141,143,1) 3%, rgba(138,141,143,1) 19%, rgba(169,170,171,1) 52%, rgba(190,190,190,1) 74%, rgba(138,141,143,1) 100%);
  background: -ms-linear-gradient(left, rgba(138,141,143,1) 0%, rgba(138,141,143,1) 3%, rgba(138,141,143,1) 19%, rgba(169,170,171,1) 52%, rgba(190,190,190,1) 74%, rgba(138,141,143,1) 100%);
  background: linear-gradient(to right, rgba(138,141,143,1) 0%, rgba(138,141,143,1) 3%, rgba(138,141,143,1) 19%, rgba(169,170,171,1) 52%, rgba(190,190,190,1) 74%, rgba(138,141,143,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8d8f', endColorstr='#8a8d8f', GradientType=1 );
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}


/* Cabeçalho */
.topo {
  background-image: url(../img/principal.jpg);
  background-size: cover;
 	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
	color: #262323;
	height:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 	align-items: center;
  text-align: center;
}

.topo h1 {
  font-size: 42px;
  font-family: 'Raleway', sans-serif;
  color: #000;
  margin: 3px;
}

.topo h2{
  font-style: italic;
  margin-top: 0px;
}

/* Menu*/
.menu-principal {
    background-color: #395662;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

.menu-principal li {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  transition: all 1s;
}

.menu-principal li:hover, .menu-principal li:active {
  background-color: #9EA7AE;
  cursor: pointer;
}

.menu-principal li a{
  color: #fff;
  text-decoration: none;
}

@media all and (min-width: 700px) {
  .menu-principal {
    flex-direction: row;
    justify-content: space-between;
  }

  @media all and (min-width: 1024px) {
    .menu-principal{
      justify-content: flex-end;
    }
  }

  .menu-principal li {
    border-bottom: 1px solid rgba(57, 86, 98, 0.1);
  }
}
/*Page-Cálculos*/

section h1 {
  display: flex;
  font-size: 32px;
  text-align: center;
  justify-content: center;
}

.introducao{
  font-size: 14px;
  font-style: italic;
}

.intro {
  background-color: rgba(57, 86, 98, .7);
  font-size: 16px;
  padding: 40px 32px;
  margin: 0px 50px;
  border-radius: 2px 50px;
}

@media all and (min-width: 1024px) {
  .intro  {
    display: flex;
    flex-direction: row;
  }
}

.geo-forms{
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color:#395662;
  margin: 10px;
  justify-content: center;
  align-items: center;
  font-size: 4.5em;
}

.container{
  background-color: rgba(57, 86, 98, .7);
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
  text-align: center;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size: cover;
  width: 99%;
}

.container h2{
  text-align: center;
}

@media all and (min-width: 1024px) {
  .container{
    grid-template-columns: 28% 72%;
    text-align: justify;
  }
}

.resumo{
  display: grid;
  margin: 0;
}

.btn{
  display: flex;
  align-items: center;
}

.btn-read-more {
  border: 2px solid #bebebe;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  background-color: rgba(70, 86, 93, .6);
  border-radius: 5px;
  width: 63px;
  height: 17px;
  justify-self: center;
}
  /* Rodapé*/
footer {
  display: grid;
  background-color: #395662;
  justify-content: center;
  text-align: center;
}

footer p{
  text-align: center;
}

footer .social {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .social .fa {
  margin: 15px;
  border: 3px solid #898e90;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  transition: all .6s;
}

.social .fa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social i:active, .social i:hover{
  cursor: pointer;
  background-color: rgba(155, 167, 172, .7);
}

@media all and (min-width: 700px) {
  footer .social {
    flex-direction: row;
    justify-content: space-between;
  }
}
